body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: clamp(1.5rem, 5vw, 4rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.current {
  background-color: hsl(103, 98%, 64%);
}

.past_day {
  opacity: 0.3;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
}

th {
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

td {
  padding-block: 1rem;
}

.dato {
  font-size: 1rem;
  opacity: 0.7;
}

.card {
  background-color: hsl(0, 100%, 100%);
  padding: 0 1rem 0.5rem;
  margin-bottom: 1.5rem;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card:first-of-type {
  margin-top: 1rem;
}

.summary {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  position: sticky;
  top: 0;

  width: 100%;

  background-color: #000;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: hsl(0, 0%, 0%);
  }

  .ukedag {
    color: #961D4E;
  }

  .current {
    color: hsl(0, 0%, 0%);
  }
}