:root {
  --light-background: hsl(0, 100%, 100%);
  --light-color: hsl(0, 100%, 100%);
  --dark-background: hsl(0, 0%, 0%);
  --dark-color: hsl(0, 0%, 0%);
  --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  --box-shadow-dark: 0 1px 1px hsl(323deg 100% 33% / 0.075),
    0 2px 2px hsl(323deg 100% 33% / 0.075),
    0 4px 4px hsl(323deg 100% 33% / 0.075),
    0 8px 8px hsl(323deg 100% 33% / 0.075),
    0 16px 16px hsl(323deg 100% 33% / 0.075);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: clamp(1.5rem, 5vw, 4rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

.current {
  background-color: hsl(103, 98%, 64%);
}

.past_day {
  opacity: 0.3;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
}

th {
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

td {
  padding-block: 1rem;
}

.dato {
  font-size: 1rem;
  opacity: 0.7;
}

.card {
  background-color: var(--light-background);
  padding: 0 1rem 0.5rem;
  margin-bottom: 1.5rem;

  box-shadow: var(--box-shadow);
}

.card:first-of-type {
  margin-top: 1rem;
}

.summary {
  display: flex;

  font-size: 1rem;
  margin: 0;
  position: sticky;
  top: 0;

  width: 100%;

  background-color: var(--dark-background);
  color: var(--light-color);
}

.summary > .weekNumber {
  border-right: 2px solid var(--light-color);
  padding: 1rem;
}

.summary > nav {
  padding: 1rem;
}

.summary > nav > *:not(:last-child) {
  margin-right: 1rem;
}

.svg-icon {
  height: 48px;
  width: 48px;
  fill: hsl(0, 0%, 0%);
}

.komplett {
  background-color: var(--light-background);
  margin-top: 1rem;
  padding-inline: 1rem;
}

.uke {
  margin-block: 1rem;
}

.uke > h3 {
  background-color: hsl(0, 0%, 58%);
  color: #000;
  padding-inline: 1rem;
  margin-inline: -1rem;
  margin-bottom: 0.5rem;
}

.uke.currentWeek > h3 {
  background-color: rgb(0, 0, 0);
  color: hsl(0, 0%, 100%);
}

.ukesoversikt {
  margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
  .summary {
    box-shadow: var(--box-shadow-dark);
  }
  .card {
    background-color: var(--dark-background);
  }

  .current {
    background-color: #a042ff;
    color: hsl(0, 0%, 0%);
  }

  .svg-icon {
    fill: hsl(0, 100%, 100%);
  }
  .current .svg-icon {
    fill: hsl(0, 0%, 0%);
  }

  .ukedag {
    font-weight: 300;
  }

  .komplett {
    background-color: var(--dark-background);
  }

  .uke > h3 {
    background-color: hsla(270, 100%, 63%, 0.4);
    color:hsl(0, 100%, 100%, 0.4);
  }
  
  .uke.currentWeek > h3 {
    background-color: hsla(270, 100%, 63%);
    color: hsl(0, 0%, 0%);
  }
}
